.sideBarOpenMainContainer {
  width: calc(100vw - 242px);
  background-color: #f4f4f4;
}

.sideBarClosedMainContainer {
  width: calc(100vw - 64px);
  background-color: #f4f4f4;
}

.sideBarHiddenMainContainer {
  width: 100%;
  background-color: #f4f4f4;
}

#workArea {
  margin: 32px;
}
