.sideBarOpenMainContainer {
  width: calc(100vw - 242px);
  background-color: #f4f4f4;
  transition: ease 0.3s, top ease 0.3s 0.3s, transform ease;
}

body {
  font-family: sans-serif;
}

.sideBarClosedMainContainer {
  width: calc(100vw - 64px);
  background-color: #f4f4f4;
  transition: ease 0.3s, top ease 0.3s 0.3s, transform ease;
}

.sideBarHiddenMainContainer {
  width: 100%;
  background-color: #f4f4f4;
  transition: ease 0.3s, top ease 0.3s 0.3s, transform ease;
}

#workArea {
  min-height: calc(100vh - 128px);
  border-radius: 10px;
  margin: 32px;
  display: flex;
  min-width: calc(100vw - 320px);
  background-color: white;
}

.btn-primary {
  background-color: #548b60 !important;
  border-color: #548b60 !important;
}

.btn-primary:active {
  box-shadow: 0 0 0 0.25rem #6ab37a !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem #6ab37a !important;
}

.messageArea {
  background-color: #f4f4f4;
  max-height: 33vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 10px;
}
