#sideBarContainer {
  height: 100vh;
  background-color: #bffcba;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarMiddleContainer {
  margin-top: 256px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.sideBarOpen {
  width: 242px;
}

.sideBarClosed {
  width: 64px;
}

.sideBarLogo {
  width: 32px;
  height: 32px;
}
