#sideBarContainer {
  height: 100vh;
  background: rgb(84, 139, 96);
  background: linear-gradient(
    180deg,
    rgba(84, 139, 96, 1) 0%,
    rgba(114, 171, 123, 1) 21%,
    rgba(130, 188, 135, 1) 31%,
    rgba(191, 252, 186, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarMiddleContainer {
  margin-top: 256px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.sideBarOpen {
  width: 242px;
  transition: ease 0.3s, top ease 0.3s 0.3s, transform ease;
}

.sideBarClosed {
  width: 64px;
  transition: ease 0.3s, top ease 0.3s 0.3s, transform ease;
}

.sideBarLogo {
  width: 32px;
  height: 32px;
}
